<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.cdw.refresh-cookies</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/toast-it-devices/cdw-slack-bot/refresh_cookies.py</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>CDW_REFRESH_SECRET</key>
        <string>PASTE_YOUR_REFRESH_SECRET_HERE</string>
    </dict>
    <key>StartInterval</key>
    <integer>5400</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/cdw-refresh.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/cdw-refresh-error.log</string>
</dict>
</plist>
